body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(49, 49, 124);
    width:100%;
    height: 85px;
}
.logo{
    width:50%;
    padding-top: 20px;
    float:left;
}
.login{
    width:50%;
    float:left;
    padding-top:10px ;
}
.facebook{
    color: aliceblue;
    font-size: 37px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 170px;
}
.login-label{
    color: aliceblue;
    font-size: 11px;
}
.login-controls{
    margin-left: 115px;

}
.forgotten{
    font-size: 11px;
    text-decoration: none;
    color: rgb(95, 69, 239);
    
}
.sub-btn{
    background-color: rgb(51, 51, 140);
    color: #fff;
    border-color: #2e3c53;
    height: 21px;
    width: 50px;
    cursor: pointer;
    text-align: center;
}
.sub-btn:hover{
    background-color: rgb(18, 27, 126);
}
.left-section{
    width: 50%;
    padding-left: 100px;
    padding-top: 20px;
    
   
}
.right-section{
    width: 50%;
    
    padding-left: 70px;
    padding-top: 10px;
   
  
   
}
.main-body{
    background: linear-gradient(#ffffff,#b5bdd4);
    width: 100%;
    height: 550px;
   
    display: flex;
}
.image{
    width: 581px;
}
.para{
    font-weight:bold ;
    font-size:20px;
}
.inputbox{
    height: 24px;
    width:150px;
    border-radius: 5px;
    margin-top: 8px;
    border-color: #fff;
    padding-left: 5px;
}
.select{
    height: 24px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 5px;

}
.inputbox2{
    height: 24px;
    width:313px;
    border-radius: 5px;
    margin-top: 8px;
    padding-left: 5px;
    border-color: #fff;
}
.birthday{
    padding-top: 10px;
    color: gray;
    font-weight: bold;
}
.Gender{
    height: 24px;
    color: gray;
    font-weight: bold;
}
.radio{
    margin-top: 8px;
   
}
.smalltext{
    font-size: 13px;
    color: rgb(116, 111, 111);
    
}
.linktext{
    text-decoration: none;
    color: rgb(56, 48, 168);
}
.signup{
    font-size: 20px;
    width: 180px;
    height: 40px;
    background-color: green;
    border-color: #989ba4c7;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}